<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h1>Table</h1>
                <div>
                    <button class="btn btn-primary nextBtn">Load More</button>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Title</th>
                                <th scope="col">Data1</th>
                                <th scope="col">Data2</th>
                                <th scope="col">Data3</th>
                                <th scope="col">Data4</th>
                            </tr>
                        </thead>
                        <tbody class="tableFields">
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    @section Scripts{
    <script>
        let lastItemId = 1

        nextItems()

        $('.nextBtn').on('click', () => {
            nextItems()
        })

            function nextItems() {
                $.ajax({
                    url: "Home/NextItems?lastItemId=" + lastItemId,
                    async: true,
                    complete: function(res) {
                        response = res.responseJSON;
                        if (response.length == 0) {
                            alert("Данных больше нет");
                        }
                        response.forEach(item => {
                            if (lastItemId == item.id) return;

                            $('.tableFields').append(
                                $('<tr>').append(
                                    $('<td>').text(item.id),
                                    $('<td>').text(item.title),
                                    $('<td>').text(item.data1),
                                    $('<td>').text(item.data2),
                                    $('<td>').text(item.data3),
                                    $('<td>').text(item.data4)
                                )
                            );
                        });
                        lastItemId = response[response.length - 1].id;
                    },
                    type: "post",
                    dataType: "json",
                });
            }
    </script>
    }
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>